<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="AppMode" value="Windows"/>
    <add key="UserName" value="anilmaskara@capgemini2019.onmicrosoft.com"/>
    <add key="Password" value="TmV3dXNlckAxMjM="/>
    <add key="SiteURL" value="https://capgemini2019.sharepoint.com/sites/WTWSearchTool/"/>
    <add key="Scope" value=""/>
    <add key="QueryText" value=""/>
    <add key="RefinedBy" value=""/>
    <add key="SortBy" value=""/>
    <add key="SortDir" value=""/>
    <add key="GroupBy" value=""/>
    <add key="UseQueryRule" value=""/>
    <add key="SearchPath" value=""/>
    <add key="ResultSourceID" value=""/>
    <add key="RankingModelID" value=""/>
    <add key="InputFileLocation" value="D:\SearchTestingTool\WTWSearchAutomationTool\Input\Top_Queries_by_Month.xlsx"/>
    <add key="NoOfRowsToIgnoreInInputFile" value="8"/>
    <add key="CoumnIndexOfKeyword" value="2"/>
    <add key="InputFileSheetIndex" value="1"/>
    <add key="OutputFolderLocation" value="D:\Users\amaskara\Desktop\New folder"/>
    <add key="NumberOfResults" value="10"/>
    <add key="LogFolderLocation" value=""/>
   </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
    </defaultProxy>
  </system.net>
</configuration>
